# reecrire url
RewriteEngine On
# regles de reecriture des routes, tjs du plus complexe au plus simple
# RewriteRule perdu.html$ trouve.html [L]
# RewriteRule promos$ produits/food/biscuits.html [L]

RewriteRule deconnect$ auth_api.php?delog [L]
RewriteRule auth$ auth_api.php [L]

RewriteRule training/([0-9]+)$ training.php?id_job=$1 [L]
#RewriteRule training/([0-9]+)$ training.php?id_training=$1 [L]
RewriteRule training$ training.php [L]

RewriteRule inscription/([0-9]+)/([0-9]+)$ inscription.php?id_training=$1&id_user=$2 [L]
RewriteRule inscription$ inscription.php [L]

RewriteRule job/([0-9]+)$ job.php?id_job=$1 [L]
RewriteRule job$ job.php [L]

RewriteRule evaluation/([0-9]+)/([0-9]+)$ evaluation.php?id_training=$1&id_user=$2 [L]
# RewriteRule evaluation/([0-9]+)$ evaluation.php?id_training=$1 [L]
RewriteRule evaluation/([0-9]+)$ evaluation.php?id_user=$1 [L]
#RewriteRule evaluation/([0-9]+)$ evaluation.php?id_evaluation=$1 [L]
RewriteRule evaluation$ evaluation.php [L]

RewriteRule user/([0-9]+)$ user.php?id_user=$1 [L]
#RewriteRule user/([0-9]+)$ user.php?id_status=$1 [L]
RewriteRule user$ user.php [L]

RewriteRule center/([0-9]+)$ center.php?id_center=$1 [L]
RewriteRule center$ center.php [L]